.idea
venv
graphs/events.out.tfevents.1555363451.michalPC graphs/events.out.tfevents.1555363904.michalPC graphs/events.out.tfevents.1555364063.michalPC graphs/events.out.tfevents.1555364185.michalPC graphs/events.out.tfevents.1555364501.michalPC graphs/events.out.tfevents.1555364711.michalPC graphs/events.out.tfevents.1555367044.michalPC graphs/events.out.tfevents.1555367237.michalPC graphs/events.out.tfevents.1555367417.michalPC graphs/events.out.tfevents.1555367521.michalPC graphs/events.out.tfevents.1555367595.michalPC graphs/events.out.tfevents.1555367680.michalPC graphs/events.out.tfevents.1555367709.michalPC graphs/events.out.tfevents.1555367808.michalPC graphs/events.out.tfevents.1555368248.michalPC graphs/events.out.tfevents.1555368537.michalPC graphs/events.out.tfevents.1555368624.michalPC graphs/events.out.tfevents.1555368711.michalPC graphs/events.out.tfevents.1555369054.michalPC graphs/events.out.tfevents.1555369169.michalPC
